<a href="https://colab.research.google.com/github/shyam2709/Data-Science-and-Machine-Laerning/blob/main/Important_queries_of_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
Q2 : Pandas 3

male_income = df[df["gender"]=="M"]["income"]   #to get only income column from data whose gender is male
female_income = df[df["gender"]=="F"]["income"]
male_median = male_income.median()   #median is used to get median
female_median = female_income.median()
### STEP 4: calculate absolute difference in median income of male and female
result = abs(male_median-female_median)   to get diff use "-"

SyntaxError: ignored

Q4

In [7]:
df["avg_payment"] = df[['jan_payment','feb_payment','mar_payment']].mean(axis=1).round(2)     #to avrage values
df = df.drop(["jan_payment","feb_payment"],axis=1)      # to drop columns

NameError: ignored

Q3

In [ ]:
df[df["income"] == df.income.max()]     #selecting whole row having max income

Q5

In [ ]:
df_sorted = df_filtered.sort_values(by=["Year","Population"])   #to sort by two values

Q6

In [ ]:
res_df = filtered_df.sort_values(by="avg")["RID"]      #to display only RID column after sorting

 **Pndas 4**

In [ ]:
data.info()
data.describe(include="all")

In [ ]:
Q1 :  result = pop_den.sort_values()

In [ ]:
# Q3: 
import pandas as pd
df1=pd.DataFrame({'access_id': {0: 'ORG6684',   1: '4564',   2: 'ORG6995',   3: '2130',   4: '5839',   5: 'ORG1281',   6: 'ORG2651',
                                7: 'ORG9870',   8: 'ORG4089',   9: 'ORG3794'}})
valid_id_mask=df1[~df1['access_id'].str.startswith('ORG')]['access_id'].count()      #instead of using df1.count()--valid_id_mask, just use ~ and we will get value
valid_id_mask                                                                        #at last use['access_id], so will get just ids
# df1.count()
# invalid_ids = df1.count()-valid_id_mask   
# invalid_ids = df1.count()-valid_id_mask

In [ ]:
Q6:
 result = df.groupby("gender")["income"].mean()   #grouping by gender and then finding average of income

In [1]:
Q2:
df_new=df[(df["Percentage"]>=75) & ((df["Stream"] == "Commerce") | (df["Stream"] == "Arts"))]["Name"]

SyntaxError: ignored

In [ ]:
Q5:
df_new = df["City\tState"].str.split('\t') # to split column name by \t
df_new=pd.DataFrame(list(df_new.values))    #to make a data frame of its values
df_new.columns =  df.columns[0].split('\t')   #using split method for the columns and set the new dataframeâ€™s columns and columns[0] means splitting the dataset based on 0th column

In [ ]:
Q8:
max_marks = df.groupby("subject")["marks"].max()    #taking only marks column
 max_marks1 = max_marks.reset_index()          #resting index
 result = max_marks1.merge(df)                             #simple merge